<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alertas Detectadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>Alertas Detectadas</h1>
        <table>
            <tr>
                <th>IP Origen</th>
                <th>Tipo de Alerta</th>
                <th>Nº de Alertas</th>
                <th>Hora Primera Alerta</th>
                <th>Hora Ultima Alerta</th>
            </tr>
            {% for alerta in datos %}
            <tr>
                <td>{{ alerta[1] }}</td>
                <td>{{ alerta[2] }}</td>
                <td>{{ alerta[3] }}</td>
                <td>{{ alerta[4] }}</td>
                <td>{{ alerta[5] }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="menu">
            <a href="{{ url_for('index') }}">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
